@import "modern-normalize/modern-normalize.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --card: 124 46.44% 86.6%;
        --ring: 124 28% 56%;
        --input: 124 17.99% 69.36%;
        --muted: 124 26.94% 83.15%;
        --accent: 159 51.92% 74.94%;
        --border: 124 31.17% 37.73%;
        --popover: 124 65% 83%;
        --primary: 124 41% 56%;
        --secondary: 124 35% 80%;
        --background: 124 50% 95%;
        --foreground: 124 25% 35%;
        --destructive: 12.78 83.18% 37.23%;
        --card-foreground: 120 31.03% 5.69%;
        --muted-foreground: 120 2.85% 35.9%;
        --accent-foreground: 159 33% 10.66%;
        --popover-foreground: 124 33% 43%;
        --primary-foreground: 124 33% 5.6%;
        --secondary-foreground: 124 33% 5.69%;
        --destructive-foreground: 120 22.5% 90.41%;
        --radius: 0.5rem;
    }

    .dark {
        --card: 124 38.35% 7.28%;
        --ring: 124 41% 56%;
        --input: 124 14.72% 34.42%;
        --muted: 124 40% 11.72%;
        --accent: 159 46.27% 21.21%;
        --border: 124 14.72% 34.42%;
        --popover: 124 39.15% 14.56%;
        --primary: 124 41% 56%;
        --secondary: 124 41% 15.12%;
        --background: 124 26.65% 4.48%;
        --foreground: 124 31% 84.66%;
        --destructive: 12.78 48.06% 59.52%;
        --card-foreground: 124 31% 97.8%;
        --muted-foreground: 124 10.46% 57.62%;
        --accent-foreground: 159 31% 97.8%;
        --popover-foreground: 124 31% 97.8%;
        --primary-foreground: 124 31% 5.6%;
        --secondary-foreground: 124 31% 97.8%;
        --destructive-foreground: 120 3.45% 5.69%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
